.name {
    justify-content: center;
    display: flex;
    margin: 80px;
    padding: 40px;
    border-radius: 20px;
    background-color:  #23F0C7;
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family: 'Times New Roman', Times, serif;
    color: #6F732F;
    background-color: #071013;
}

.about-myself {
    display: flex;
    background-color: #BAA898;
    color: #6457A6;
    justify-content: space-around;
}